/* --------------------------------------------
   📀 disposition.css
   Contient : structure et disposition générale.
   - Grilles principales
   - Conteneurs (`#cartes-container`, `#vue-par-categories`)
   - Positionnement global (colonnes, zones, zones de retour, etc.)

   Ne doit pas contenir :
   - Style de contenu (ex. boutons, couleurs, typographie)
   - Comportement interactif spécifique
--------------------------------------------- */

/* --------------------------------------------------
   🏢 ZONE DE BOUTONS POUR CHANGEMENT DE MODE
-------------------------------------------------- */
.mode-toggle {
   display: flex;
   margin-bottom: 1rem;
}


.categorie-cartes {
   display: flex;
   flex-direction: column;
}

@media(min-width:601px) {
   .categorie-cartes{
   flex-direction: row;

   }
}


.vueCategorie {
flex-direction: column;
}
@media(min-width:601px){
   .vueCategorie{

   }
}
.ctnCategorieSelect{

}
@media(min-width:601px){
   .ctnCategorieSelect{

   }
}

